<div class="aiz-main-wrapper d-flex flex-column">

  <!-- Header -->
  <div class="position-relative top-banner removable-session z-1035 d-none" data-key="top-banner" data-value="removed">
      <a href="#" class="d-block text-reset">
      <img src="https://demo.activeitzone.com/ecommerce/public/uploads/all/VhEx0nvy8mDVDBjnCOdhZmuTSqsq6jJkvagvdhSK.png" class="w-100 mw-100 h-50px h-lg-auto img-fit">
      </a>
      <button class="btn text-white absolute-top-right set-session" data-key="top-banner" data-value="removed" data-toggle="remove-parent" data-parent=".top-banner">
      <i class="la la-close la-2x"></i>
      </button>
  </div>
  <!-- Top Bar -->
  <div class="top-navbar bg-white border-bottom border-soft-secondary z-1035">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col">
                <ul class="list-inline d-flex justify-content-between justify-content-lg-start mb-0">
                    <li class="list-inline-item dropdown mr-3" id="lang-change">
                        <a href="javascript:void(0)" class="dropdown-toggle text-reset py-2" data-toggle="dropdown" data-display="static">
                        <img src="https://demo.activeitzone.com/ecommerce/public/assets/img/placeholder.jpg" data-src="https://demo.activeitzone.com/ecommerce/public/assets/img/flags/en.png" class="mr-2 lazyload" alt="English" height="11">
                        <span class="opacity-60">English</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-left">
                          <li>
                              <a href="javascript:void(0)" data-flag="en" class="dropdown-item ">
                              <img src="https://demo.activeitzone.com/ecommerce/public/assets/img/placeholder.jpg" data-src="https://demo.activeitzone.com/ecommerce/public/assets/img/flags/en.png" class="mr-1 lazyload" alt="English" height="11">
                              <span class="language">English</span>
                              </a>
                          </li>
                          <li>
                              <a href="javascript:void(0)" data-flag="vn" class="dropdown-item ">
                              <img src="https://demo.activeitzone.com/ecommerce/public/assets/img/placeholder.jpg" data-src="https://demo.activeitzone.com/ecommerce/public/assets/img/flags/vn.png" class="mr-1 lazyload" alt="Vietnam" height="11">
                              <span class="language">Vietnam</span>
                              </a>
                          </li>
                        </ul>
                    </li>
                    <li class="list-inline-item dropdown" id="currency-change">
                        <a href="javascript:void(0)" class="dropdown-toggle text-reset py-2 opacity-60" data-toggle="dropdown" data-display="static">
                        U.S. Dollar $
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left">
                            <li>
                                <a class="dropdown-item  active " href="javascript:void(0)" data-currency="USD">U.S. Dollar ($)</a>
                            </li>
                            <li>
                                <a class="dropdown-item " href="javascript:void(0)" data-currency="AUD">Australian Dollar ($)</a>
                            </li>

                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col-5 text-right d-none d-lg-block">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item mr-3">
                        <a href="https://demo.activeitzone.com/ecommerce/users/login" class="text-reset py-2 d-inline-block opacity-60">Login</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://demo.activeitzone.com/ecommerce/users/registration" class="text-reset py-2 d-inline-block opacity-60">Registration</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
  </div>
  <!-- END Top Bar -->

  <app-header-user></app-header-user>

  <app-home-banner></app-home-banner>
  
  <app-ads-one></app-ads-one>

  <!-- flash sale -->
  <app-flash-sale></app-flash-sale>

  <app-section-featured></app-section-featured>

  <app-best-selling></app-best-selling>

  <app-ads-two></app-ads-two>

  <app-home-categories></app-home-categories>
  
  <app-classified-ads></app-classified-ads>

  <app-ads-three></app-ads-three>

  <app-best-sellers></app-best-sellers>

  <app-top-categories></app-top-categories>

  <app-policy-user></app-policy-user>
  
  <!-- FOOTER -->
  <app-footer-user></app-footer-user>

</div>

<div class="aiz-cookie-alert shadow-xl">
  <div class="p-3 bg-dark rounded">
      <div class="text-white mb-3">
          <p>We use cookie for better user experience, check our policy <a href="https://demo.activeitzone.com/ecommerce/privacypolicy">here</a>&nbsp;</p>
      </div>
      <button class="btn btn-primary aiz-cookie-accept">
      Ok. I Understood
      </button>
  </div>
</div>

<div class="modal website-popup removable-session d-none" data-key="website-popup" data-value="removed">
  <div class="absolute-full bg-black opacity-60"></div>
  <div class="modal-dialog modal-dialog-centered modal-dialog-zoom modal-md">
      <div class="modal-content position-relative border-0 rounded-0">
          <div class="aiz-editor-data">
              <p><img src="https://demo.activeitzone.com/ecommerce/public/uploads/all/dwaK3um8tkVgEsgmZN1peQb844tFRAIQ1wAS8e3z.png" style="width: 100%;"></p>
              <p style="text-align: center; "><br></p>
              <h2 style="text-align: center; "><b>Subscribe to Our Newsletter</b></h2>
              <p style="text-align: center;">Subscribe our newsletter for coupon, offer and exciting promotional discount..</p>
          </div>
          <div class="pb-5 pt-4 px-5">
              <form class="" method="POST" action="https://demo.activeitzone.com/ecommerce/subscribers">
                  <input type="hidden" name="_token" value="9nZbP1nP49kO0iFwhizZJauloBiMBQx3KsCfemwH">
                  <div class="form-group mb-0">
                      <input type="email" class="form-control" placeholder="Your Email Address" name="email" required>
                  </div>
                  <button type="submit" class="btn btn-primary btn-block mt-3">
                  Subscribe Now
                  </button>
              </form>
          </div>
          <button class="absolute-top-right bg-white shadow-lg btn btn-circle btn-icon mr-n3 mt-n3 set-session" data-key="website-popup" data-value="removed" data-toggle="remove-parent" data-parent=".website-popup">
          <i class="la la-close fs-20"></i>
          </button>
      </div>
  </div>
</div>

<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>
  function confirm_modal(delete_url)
  {
      jQuery('#confirm-delete').modal('show', {backdrop: 'static'});
      document.getElementById('delete_link').setAttribute('href' , delete_url);
  }
</script>

<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title" id="myModalLabel">Confirmation</h4>
          </div>
          <div class="modal-body">
              <p>Delete confirmation message</p>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              <a id="delete_link" class="btn btn-danger btn-ok">Delete</a>
          </div>
      </div>
  </div>
</div>
<div class="modal fade" id="addToCart">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-zoom product-modal" id="modal-size" role="document">
      <div class="modal-content position-relative">
          <div class="c-preloader text-center p-3">
              <i class="las la-spinner la-spin la-3x"></i>
          </div>
          <button type="button" class="close absolute-top-right btn-icon close z-1" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="la-2x">&times;</span>
          </button>
          <div id="addToCart-modal-body">
          </div>
      </div>
  </div>
</div>
