/* You can add global styles to this file, and also import other style files */
* {

}
.slick-slider {
    width: 100%;
    margin: auto;
    background: transparent;
  }
  
body .slick-prev, 
body .slick-next {
    height: 55px;
    width: 70px;
    color: red;
    background: transparent;
    z-index: 100;
}