<div class="mb-4">
    <div class="container">
        <div class="row gutters-10">
            <div class="col-xl col-md-6">
                <div class="mb-3 mb-lg-0">
                    <a href="https://activeitzone.com/" class="d-block text-reset">
                    <img src="https://demo.activeitzone.com/ecommerce/public/assets/img/placeholder-rect.jpg" data-src="https://demo.activeitzone.com/ecommerce/public/uploads/all/5ghQd35WiCGD7p6fnWKuC7dXsIm6SSXyeqv4arz3.jpg" alt="Active eCommerce CMS promo" class="img-fluid lazyload">
                    </a>
                </div>
            </div>
            <div class="col-xl col-md-6">
                <div class="mb-3 mb-lg-0">
                    <a href="https://activeitzone.com/" class="d-block text-reset">
                    <img src="https://demo.activeitzone.com/ecommerce/public/assets/img/placeholder-rect.jpg" data-src="https://demo.activeitzone.com/ecommerce/public/uploads/all/UMiXwSweEr3ZjubSmMNXlmfdGROyShQMlmg8xDx2.jpg" alt="Active eCommerce CMS promo" class="img-fluid lazyload">
                    </a>
                </div>
            </div>
            <div class="col-xl col-md-6">
                <div class="mb-3 mb-lg-0">
                    <a href="https://activeitzone.com/" class="d-block text-reset">
                    <img src="https://demo.activeitzone.com/ecommerce/public/assets/img/placeholder-rect.jpg" data-src="https://demo.activeitzone.com/ecommerce/public/uploads/all/3e8JXnm43Cd0ZMLuwwchFr7XmOjYHHXmJNPtImba.jpg" alt="Active eCommerce CMS promo" class="img-fluid lazyload">
                    </a>
                </div>
            </div>
        </div>
    </div>
  </div>