<div class="mb-4">
  <div class="container">
      <div class="row gutters-10">
          <div class="col-xl col-md-6">
              <div class="mb-3 mb-lg-0">
                  <a href="https://activeitzone.com/" class="d-block text-reset">
                  <img src="https://demo.activeitzone.com/ecommerce/public/assets/img/placeholder-rect.jpg" data-src="https://demo.activeitzone.com/ecommerce/public/uploads/all/UVP5Qx49fgufLNvRNppNOMTE3ei4hUryaIHic4EM.jpg" alt="Active eCommerce CMS promo" class="img-fluid lazyload">
                  </a>
              </div>
          </div>
          <div class="col-xl col-md-6">
              <div class="mb-3 mb-lg-0">
                  <a href="https://activeitzone.com/" class="d-block text-reset">
                  <img src="https://demo.activeitzone.com/ecommerce/public/assets/img/placeholder-rect.jpg" data-src="https://demo.activeitzone.com/ecommerce/public/uploads/all/L2fXkDpaSxxm8onJ45fuz6rKAjyrDXQvIKQIKXoU.jpg" alt="Active eCommerce CMS promo" class="img-fluid lazyload">
                  </a>
              </div>
          </div>
          <div class="col-xl col-md-6">
              <div class="mb-3 mb-lg-0">
                  <a href="https://activeitzone.com/" class="d-block text-reset">
                  <img src="https://demo.activeitzone.com/ecommerce/public/assets/img/placeholder-rect.jpg" data-src="https://demo.activeitzone.com/ecommerce/public/uploads/all/lTjkSn6s7PxY1aTjZkXPqu9Hd9OEcGpMgetd8x7i.jpg" alt="Active eCommerce CMS promo" class="img-fluid lazyload">
                  </a>
              </div>
          </div>
      </div>
  </div>
</div>