<div class="mb-4">
    <div class="container">
        <div class="row gutters-10">
            <div class="col-xl col-md-6">
                <div class="mb-3 mb-lg-0">
                    <a href="https://codecanyon.net/item/active-ecommerce-cms/23471405?s_rank=14" class="d-block text-reset">
                    <img src="https://demo.activeitzone.com/ecommerce/public/assets/img/placeholder-rect.jpg" data-src="https://demo.activeitzone.com/ecommerce/public/uploads/all/UCXlw7rYzzLSxYOhWzIRDeV3OE19P6etegYAWPxY.jpg" alt="Active eCommerce CMS promo" class="img-fluid lazyload">
                    </a>
                </div>
            </div>
            <div class="col-xl col-md-6">
                <div class="mb-3 mb-lg-0">
                    <a href="https://codecanyon.net/item/active-ecommerce-cms/23471405?s_rank=14" class="d-block text-reset">
                    <img src="https://demo.activeitzone.com/ecommerce/public/assets/img/placeholder-rect.jpg" data-src="https://demo.activeitzone.com/ecommerce/public/uploads/all/QrJSIxDRZEY6POuhlo8chyCdROdoWbeLqhQy1EwL.jpg" alt="Active eCommerce CMS promo" class="img-fluid lazyload">
                    </a>
                </div>
            </div>
            <div class="col-xl col-md-6">
                <div class="mb-3 mb-lg-0">
                    <a href="" class="d-block text-reset">
                    <img src="https://demo.activeitzone.com/ecommerce/public/assets/img/placeholder-rect.jpg" data-src="https://demo.activeitzone.com/ecommerce/public/uploads/all/JOktT5QrxPDSVKagzhTsgItxulc6OTXvX1zSxfi8.jpg" alt="Active eCommerce CMS promo" class="img-fluid lazyload">
                    </a>
                </div>
            </div>
        </div>
    </div>
  </div>