<div id="section_best_sellers">
  <section class="mb-4">
      <div class="container">
          <div class="px-2 py-4 px-md-4 py-md-3 bg-white shadow-sm rounded">
              <div class="d-flex mb-3 align-items-baseline border-bottom">
                  <h3 class="h5 fw-700 mb-0">
                      <span class="border-bottom border-primary border-width-2 pb-3 d-inline-block">Best Sellers</span>
                  </h3>
                  <a href="https://demo.activeitzone.com/ecommerce/sellers" class="ml-auto mr-0 btn btn-primary btn-sm shadow-md">View All Sellers</a>
              </div>
              <div class="aiz-carousel gutters-10 half-outside-arrow slick-initialized slick-slider" data-items="3" data-lg-items="3" data-md-items="2" data-sm-items="2" data-xs-items="1" data-rows="2">
                  <div class="slick-list draggable">
                      <div class="slick-track" style="opacity: 1; width: 1805px; transform: translate3d(0px, 0px, 0px);">
                          <div class="slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" style="width: 361px;">
                              <div>
                                  <div class="carousel-box" style="width: 100%; display: inline-block;">
                                      <div class="row no-gutters box-3 align-items-center border border-light rounded hov-shadow-md my-2 has-transition">
                                          <div class="col-4">
                                              <a href="https://demo.activeitzone.com/ecommerce/shop/Zara-Fashion-4" class="d-block p-3" tabindex="0">
                                              <img src=" https://demo.activeitzone.com/ecommerce/public/uploads/all/PpDZ45Dtq2yLiq7ggVbjM2y2uUdd7nKu4OfbSjIX.jpg " data-src=" https://demo.activeitzone.com/ecommerce/public/uploads/all/PpDZ45Dtq2yLiq7ggVbjM2y2uUdd7nKu4OfbSjIX.jpg " alt="Zara Fashion" class="img-fluid lazyloaded">
                                              </a>
                                          </div>
                                          <div class="col-8 border-left border-light">
                                              <div class="p-3 text-left">
                                                  <h2 class="h6 fw-600 text-truncate">
                                                      <a href="https://demo.activeitzone.com/ecommerce/shop/Zara-Fashion-4" class="text-reset" tabindex="0">Zara Fashion</a>
                                                  </h2>
                                                  <div class="rating rating-sm mb-2">
                                                      <i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i>
                                                  </div>
                                                  <a href="https://demo.activeitzone.com/ecommerce/shop/Zara-Fashion-4" class="btn btn-soft-primary btn-sm" tabindex="0">
                                                  Visit Store <i class="las la-angle-right"></i>
                                                  </a>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div>
                                  <div class="carousel-box" style="width: 100%; display: inline-block;">
                                      <div class="row no-gutters box-3 align-items-center border border-light rounded hov-shadow-md my-2 has-transition">
                                          <div class="col-4">
                                              <a href="https://demo.activeitzone.com/ecommerce/shop/BMW-5" class="d-block p-3" tabindex="0">
                                              <img src=" https://demo.activeitzone.com/ecommerce/public/uploads/all/tIu8FyzMooqOBlKLNFsqChyH84XMTby1G5DbiCtX.jpg " data-src=" https://demo.activeitzone.com/ecommerce/public/uploads/all/tIu8FyzMooqOBlKLNFsqChyH84XMTby1G5DbiCtX.jpg " alt="BMW" class="img-fluid lazyloaded">
                                              </a>
                                          </div>
                                          <div class="col-8 border-left border-light">
                                              <div class="p-3 text-left">
                                                  <h2 class="h6 fw-600 text-truncate">
                                                      <a href="https://demo.activeitzone.com/ecommerce/shop/BMW-5" class="text-reset" tabindex="0">BMW</a>
                                                  </h2>
                                                  <div class="rating rating-sm mb-2">
                                                      <i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i>
                                                  </div>
                                                  <a href="https://demo.activeitzone.com/ecommerce/shop/BMW-5" class="btn btn-soft-primary btn-sm" tabindex="0">
                                                  Visit Store <i class="las la-angle-right"></i>
                                                  </a>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="slick-slide slick-active" data-slick-index="1" aria-hidden="false" style="width: 361px;">
                              <div>
                                  <div class="carousel-box" style="width: 100%; display: inline-block;">
                                      <div class="row no-gutters box-3 align-items-center border border-light rounded hov-shadow-md my-2 has-transition">
                                          <div class="col-4">
                                              <a href="https://demo.activeitzone.com/ecommerce/shop/Royal-Enfield-6" class="d-block p-3" tabindex="0">
                                              <img src=" https://demo.activeitzone.com/ecommerce/public/uploads/all/4RYBFSBOzZ9mGjYD3hpyqZCfpBG4xb3SphbTYppf.jpg " data-src=" https://demo.activeitzone.com/ecommerce/public/uploads/all/4RYBFSBOzZ9mGjYD3hpyqZCfpBG4xb3SphbTYppf.jpg " alt="Royal Enfield" class="img-fluid lazyloaded">
                                              </a>
                                          </div>
                                          <div class="col-8 border-left border-light">
                                              <div class="p-3 text-left">
                                                  <h2 class="h6 fw-600 text-truncate">
                                                      <a href="https://demo.activeitzone.com/ecommerce/shop/Royal-Enfield-6" class="text-reset" tabindex="0">Royal Enfield</a>
                                                  </h2>
                                                  <div class="rating rating-sm mb-2">
                                                      <i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i>
                                                  </div>
                                                  <a href="https://demo.activeitzone.com/ecommerce/shop/Royal-Enfield-6" class="btn btn-soft-primary btn-sm" tabindex="0">
                                                  Visit Store <i class="las la-angle-right"></i>
                                                  </a>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div>
                                  <div class="carousel-box" style="width: 100%; display: inline-block;">
                                      <div class="row no-gutters box-3 align-items-center border border-light rounded hov-shadow-md my-2 has-transition">
                                          <div class="col-4">
                                              <a href="https://demo.activeitzone.com/ecommerce/shop/Apple-7" class="d-block p-3" tabindex="0">
                                              <img src=" https://demo.activeitzone.com/ecommerce/public/uploads/all/shriiQSszFrEuOAPwYDFTEmgo3VIkae1UgoPDV8T.jpg " data-src=" https://demo.activeitzone.com/ecommerce/public/uploads/all/shriiQSszFrEuOAPwYDFTEmgo3VIkae1UgoPDV8T.jpg " alt="Apple" class="img-fluid lazyloaded">
                                              </a>
                                          </div>
                                          <div class="col-8 border-left border-light">
                                              <div class="p-3 text-left">
                                                  <h2 class="h6 fw-600 text-truncate">
                                                      <a href="https://demo.activeitzone.com/ecommerce/shop/Apple-7" class="text-reset" tabindex="0">Apple</a>
                                                  </h2>
                                                  <div class="rating rating-sm mb-2">
                                                      <i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i>
                                                  </div>
                                                  <a href="https://demo.activeitzone.com/ecommerce/shop/Apple-7" class="btn btn-soft-primary btn-sm" tabindex="0">
                                                  Visit Store <i class="las la-angle-right"></i>
                                                  </a>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="slick-slide slick-active" data-slick-index="2" aria-hidden="false" style="width: 361px;">
                              <div>
                                  <div class="carousel-box" style="width: 100%; display: inline-block;">
                                      <div class="row no-gutters box-3 align-items-center border border-light rounded hov-shadow-md my-2 has-transition">
                                          <div class="col-4">
                                              <a href="https://demo.activeitzone.com/ecommerce/shop/Jhonson-8" class="d-block p-3" tabindex="0">
                                              <img src=" https://demo.activeitzone.com/ecommerce/public/uploads/all/py3XlBVjI3SEBiQPcyfs3vSlrqHCbBlPMNaDcoUR.jpg " data-src=" https://demo.activeitzone.com/ecommerce/public/uploads/all/py3XlBVjI3SEBiQPcyfs3vSlrqHCbBlPMNaDcoUR.jpg " alt="Jhonson" class="img-fluid lazyloaded">
                                              </a>
                                          </div>
                                          <div class="col-8 border-left border-light">
                                              <div class="p-3 text-left">
                                                  <h2 class="h6 fw-600 text-truncate">
                                                      <a href="https://demo.activeitzone.com/ecommerce/shop/Jhonson-8" class="text-reset" tabindex="0">Jhonson</a>
                                                  </h2>
                                                  <div class="rating rating-sm mb-2">
                                                      <i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i>
                                                  </div>
                                                  <a href="https://demo.activeitzone.com/ecommerce/shop/Jhonson-8" class="btn btn-soft-primary btn-sm" tabindex="0">
                                                  Visit Store <i class="las la-angle-right"></i>
                                                  </a>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div>
                                  <div class="carousel-box" style="width: 100%; display: inline-block;">
                                      <div class="row no-gutters box-3 align-items-center border border-light rounded hov-shadow-md my-2 has-transition">
                                          <div class="col-4">
                                              <a href="https://demo.activeitzone.com/ecommerce/shop/Philipps-9" class="d-block p-3" tabindex="0">
                                              <img src=" https://demo.activeitzone.com/ecommerce/public/uploads/all/1RutGcPmMYvLHiatsxAVq9l8XMM3IiuuvGUq20yh.jpg " data-src=" https://demo.activeitzone.com/ecommerce/public/uploads/all/1RutGcPmMYvLHiatsxAVq9l8XMM3IiuuvGUq20yh.jpg " alt="Philipps" class="img-fluid lazyloaded">
                                              </a>
                                          </div>
                                          <div class="col-8 border-left border-light">
                                              <div class="p-3 text-left">
                                                  <h2 class="h6 fw-600 text-truncate">
                                                      <a href="https://demo.activeitzone.com/ecommerce/shop/Philipps-9" class="text-reset" tabindex="0">Philipps</a>
                                                  </h2>
                                                  <div class="rating rating-sm mb-2">
                                                      <i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i>
                                                  </div>
                                                  <a href="https://demo.activeitzone.com/ecommerce/shop/Philipps-9" class="btn btn-soft-primary btn-sm" tabindex="0">
                                                  Visit Store <i class="las la-angle-right"></i>
                                                  </a>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="slick-slide" data-slick-index="3" aria-hidden="true" style="width: 361px;" tabindex="-1">
                              <div>
                                  <div class="carousel-box" style="width: 100%; display: inline-block;">
                                      <div class="row no-gutters box-3 align-items-center border border-light rounded hov-shadow-md my-2 has-transition">
                                          <div class="col-4">
                                              <a href="https://demo.activeitzone.com/ecommerce/shop/Mark-And-Spenser-2" class="d-block p-3" tabindex="-1">
                                              <img src=" https://demo.activeitzone.com/ecommerce/public/uploads/all/e0UwlfT9qvCJaXM3hQiznUHR3gU9AaiiQYXetQsd.jpg " data-src=" https://demo.activeitzone.com/ecommerce/public/uploads/all/e0UwlfT9qvCJaXM3hQiznUHR3gU9AaiiQYXetQsd.jpg " alt="Mark And Spenser" class="img-fluid lazyloaded">
                                              </a>
                                          </div>
                                          <div class="col-8 border-left border-light">
                                              <div class="p-3 text-left">
                                                  <h2 class="h6 fw-600 text-truncate">
                                                      <a href="https://demo.activeitzone.com/ecommerce/shop/Mark-And-Spenser-2" class="text-reset" tabindex="-1">Mark And Spenser</a>
                                                  </h2>
                                                  <div class="rating rating-sm mb-2">
                                                      <i class="las la-star active"></i><i class="las la-star active"></i><i class="las la-star active"></i><i class="las la-star active"></i><i class="las la-star active"></i>
                                                  </div>
                                                  <a href="https://demo.activeitzone.com/ecommerce/shop/Mark-And-Spenser-2" class="btn btn-soft-primary btn-sm" tabindex="-1">
                                                  Visit Store <i class="las la-angle-right"></i>
                                                  </a>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div>
                                  <div class="carousel-box" style="width: 100%; display: inline-block;">
                                      <div class="row no-gutters box-3 align-items-center border border-light rounded hov-shadow-md my-2 has-transition">
                                          <div class="col-4">
                                              <a href="https://demo.activeitzone.com/ecommerce/shop/Babyhug-3" class="d-block p-3" tabindex="-1">
                                              <img src=" https://demo.activeitzone.com/ecommerce/public/uploads/all/btwM0pKrBcL4R5m2mQ6aKpPnWw9Bkp2auOZ1HBq4.jpg " data-src=" https://demo.activeitzone.com/ecommerce/public/uploads/all/btwM0pKrBcL4R5m2mQ6aKpPnWw9Bkp2auOZ1HBq4.jpg " alt="Babyhug" class="img-fluid lazyloaded">
                                              </a>
                                          </div>
                                          <div class="col-8 border-left border-light">
                                              <div class="p-3 text-left">
                                                  <h2 class="h6 fw-600 text-truncate">
                                                      <a href="https://demo.activeitzone.com/ecommerce/shop/Babyhug-3" class="text-reset" tabindex="-1">Babyhug</a>
                                                  </h2>
                                                  <div class="rating rating-sm mb-2">
                                                      <i class="las la-star active"></i><i class="las la-star active"></i><i class="las la-star active"></i><i class="las la-star active"></i><i class="las la-star active"></i>
                                                  </div>
                                                  <a href="https://demo.activeitzone.com/ecommerce/shop/Babyhug-3" class="btn btn-soft-primary btn-sm" tabindex="-1">
                                                  Visit Store <i class="las la-angle-right"></i>
                                                  </a>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="slick-slide" data-slick-index="4" aria-hidden="true" style="width: 361px;" tabindex="-1">
                              <div>
                                  <div class="carousel-box" style="width: 100%; display: inline-block;">
                                      <div class="row no-gutters box-3 align-items-center border border-light rounded hov-shadow-md my-2 has-transition">
                                          <div class="col-4">
                                              <a href="https://demo.activeitzone.com/ecommerce/shop/Adidas-12" class="d-block p-3" tabindex="-1">
                                              <img src=" https://demo.activeitzone.com/ecommerce/public/uploads/all/AcQrue0Rc4krp9i0LsDXW8FcZ6z4YYWXOdcJL908.jpg " data-src=" https://demo.activeitzone.com/ecommerce/public/uploads/all/AcQrue0Rc4krp9i0LsDXW8FcZ6z4YYWXOdcJL908.jpg " alt="Adidas" class="img-fluid lazyloaded">
                                              </a>
                                          </div>
                                          <div class="col-8 border-left border-light">
                                              <div class="p-3 text-left">
                                                  <h2 class="h6 fw-600 text-truncate">
                                                      <a href="https://demo.activeitzone.com/ecommerce/shop/Adidas-12" class="text-reset" tabindex="-1">Adidas</a>
                                                  </h2>
                                                  <div class="rating rating-sm mb-2">
                                                      <i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i>
                                                  </div>
                                                  <a href="https://demo.activeitzone.com/ecommerce/shop/Adidas-12" class="btn btn-soft-primary btn-sm" tabindex="-1">
                                                  Visit Store <i class="las la-angle-right"></i>
                                                  </a>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div>
                                  <div class="carousel-box" style="width: 100%; display: inline-block;">
                                      <div class="row no-gutters box-3 align-items-center border border-light rounded hov-shadow-md my-2 has-transition">
                                          <div class="col-4">
                                              <a href="https://demo.activeitzone.com/ecommerce/shop/LOUIS-VUITTON-13" class="d-block p-3" tabindex="-1">
                                              <img src=" https://demo.activeitzone.com/ecommerce/public/uploads/all/qf8pEDFmjfjIDYYGXaKtJ90ilKQMC7F1rXk2vQJr.jpg " data-src=" https://demo.activeitzone.com/ecommerce/public/uploads/all/qf8pEDFmjfjIDYYGXaKtJ90ilKQMC7F1rXk2vQJr.jpg " alt="LOUIS VUITTON" class="img-fluid lazyloaded">
                                              </a>
                                          </div>
                                          <div class="col-8 border-left border-light">
                                              <div class="p-3 text-left">
                                                  <h2 class="h6 fw-600 text-truncate">
                                                      <a href="https://demo.activeitzone.com/ecommerce/shop/LOUIS-VUITTON-13" class="text-reset" tabindex="-1">LOUIS VUITTON</a>
                                                  </h2>
                                                  <div class="rating rating-sm mb-2">
                                                      <i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i>
                                                  </div>
                                                  <a href="https://demo.activeitzone.com/ecommerce/shop/LOUIS-VUITTON-13" class="btn btn-soft-primary btn-sm" tabindex="-1">
                                                  Visit Store <i class="las la-angle-right"></i>
                                                  </a>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
</div>


